:root {
  --primary-c: #1c5a41;
  --secondary-c: #2a8f68;
  --third-c: #5aaf76;
  --primary-font: #ffffff;
  --secondary-font: #1a1519;
}
.bg {
    background-image: url(../images/1.jpg);
    background-size: cover;
}